img{
width : 300px;

}
body{
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid{
    height: 500px;
    width: 500px;
    border : 1px solid green;
    display: flex;
    flex-wrap: wrap;
    
    
    
    
}

.cell{
    outline: rgb(16, 20, 16);
    
    
}

.form{
    display: flex;
    justify-content: space-between;
    gap:50px;
    padding-bottom: 10px;
}